<h1>Estadísticas de la aplicación</h1>
<br>
<h3>Número de preguntas: </h3>
<h3>Número de comentarios totales: </h3>
<h3>número medio de comentarios por pregunta: </h3>
<h3>número de preguntas sin comentarios: </h3>
<h3>número de preguntas con comentarios: </h3>

